# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
config/gcloud_ssh_key
config/cloud.key
config/cloud.pem
config/cloud.pub

# Cloud storage files for benchmarks
azure.json
aws.json
gcloud.json

# Coverage test
.coverage

# Ignore everything in the bin folder
bin/

!bin/cb
!bin/execute.sh
!bin/*-*.sh

# Ignore all the non-essential root folders
terasort-*/
tpch-*/
ycsb-*/
spark-*/
exp*/
mpi-*/
cassandra-*/
benchmark-*/

cloudbench/benchmarks/c4-*
cloudbench/benchmarks/m4-*
cloudbench/benchmarks/r3-*
cloudbench/benchmarks/sp12-*
cloudbench/benchmarks/sp2-*
cloudbench/benchmarks/tmp_*
cloudbench/benchmarks/tpch_*
cloudbench/benchmarks/ts2-*

